<%- include('../partials/header'); -%>

<body>
  <main>
    <section class="homeHolder">
      <h1><%= title %></h1>

      <div class="bonHolder">

      </div>

    </section>
  </main>
</body>

</html>
