<%- include('../partials/header'); -%>

<body>
  <nav></nav>
  <main>
    <section class="homeHolder">
      <h1 class="">Create een tosti</h1>
      <div class="tostiHolderMain">
        <img class="heroTosti" src="image/sandwich.svg" alt="Tosti plaatje" />
        <img class="herocart" src="" alt="" />
      </div>
    </section>

    <div class="pushButton"></div>
    <div class="bottomButtonHolder">
      <a href="/sandwich" class="buttonGo borderRadius hoverShadow transition" type="button" name="button">
        Maak een lijst
      </a>
      <a class="toFav" href="#">Naar favorite</a>
    </div>
  </main>
</body>
<script type="text/javascript" href="javascript/script.js"></script>

</html>
